<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </head>
  <body ng-app="directoryApp" class="page-background">
    <div class="container-fluid">
      <div class="page-header">
        <h1 class="black-text">UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="panel panel-default">        
            <div class="input-group" id="searchBar">
              <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
              <input type="text" ng-model="searchText"class="form-control" placeholder="Search">
            </div>
            <div class="tableWrapper">
              <table class="table table-striped">
                <tr>
                  <th>&nbsp &nbsp Code</th>
                  <th>Building Name</th>
                  <th></th>
                  <th></th>
                </tr>
                <tr id="listingRow-{{$index}}" ng-repeat="building in listings | filter:searchText" data-ng-init="colorRows($index)">
                  <th>{{getBuildingNumber(building.code) + '. ' + building.code}}</th>
                  <th>{{building.name}}</th>
                  <th><span class="glyphicon glyphicon-eye-open" ng-click="showDetails(building.code);"></span></th>
                  <th><span class="glyphicon glyphicon-remove-circle" ng-click="deleteListing(building.code);"></span></th>
                </tr>
              </table>
            </div>
          </div>
          <!-- 

              Write an HTML form that adds new listings to the directory 

            -->
        </div>
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading background-blue">
              <div class="panel-title">
                <h2>Detailed Information</h2>
              </div>
            </div>
            <div ng-if="detailedInfo == undefined">
              <h6 class="left-margin">Select a location for detailed information.</h6>
            </div>
            <div class="panel-body">
                <div class="panel panel-primary" ng-hide="detailedInfo == undefined">
                  <table class="table">
                    <tr>
                      <th>Code</th>
                      <th>{{detailedInfo.code}}</th>
                    </tr>
                    <tr>
                      <th>Name</th>
                      <th>{{detailedInfo.name}}</th>
                    </tr>
                    <tr>
                      <th>Latitude</th>
                      <th>{{detailedInfo.coordinates.latitude}}</th>
                    </tr>
                    <tr>
                      <th>Logitude</th>
                      <th>{{detailedInfo.coordinates.longitude}}</th>
                    </tr>
                    <tr>
                      <th>Address</th>
                      <th>{{detailedInfo.address}}</th>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          <button type="button" class="bottomMargin btn btn-warning" ng-click="showNewListingForm = !showNewListingForm"><strong>{{(showNewListingForm === true) ? 'Hide New Listing Form' : 'Add New Listing Form'}}</strong></button>
          <div class="panel panel-info"  ng-if="showNewListingForm === true">
            <div class="panel-heading"><strong>New Listing Details</strong></div>
            <div class="panel-body">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="code">Code:</label>
                  <div class="col-sm-10">
                    <input ng-model="newListing.code" class="form-control" placeholder="Enter Building Code">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="Name">Name:</label>
                  <div class="col-sm-10"> 
                    <input ng-model="newListing.name" class="form-control" placeholder="Enter Building Name">
                  </div>
                </div>
               <div class="form-group">
                  <label class="control-label col-sm-2" for="Lat">Latitude:</label>
                  <div class="col-sm-10"> 
                    <input ng-model="newListing.coordinates.latitude" class="form-control" placeholder="Enter Building Latitude">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="long">Longitude:</label>
                  <div class="col-sm-10"> 
                    <input ng-model="newListing.coordinates.longitude" class="form-control" placeholder="Enter Building Longitude">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="pwd">Address:</label>
                  <div class="col-sm-10"> 
                    <input ng-model="newListing.address" class="form-control" placeholder="Enter Building Address (Street, City, State Zipcode, Country)">
                  </div>
                </div>
                <div class="form-group"> 
                  <div class="col-sm-offset-2 col-sm-10">
                    <button ng-click="addListing()" type="button" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>