#searchBar {
  margin: 15px 10px;
}

.removeButton {
	color: red;
}

.viewDetailButton {
	color: blue;
}

.bottomMargin {
	margin-bottom: 5px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}